.products {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  justify-items: flex-start;
  position: relative;
  left: 1vw;
}
.ach__cat--noProducts {
  position: relative;
  font-size: 2vw;
  padding: 3vw 0;
  vertical-align: middle;
}
/* React Elastic Carousel Slider css */
.rec.rec-arrow {
  border-radius: 0;
  font-size: 2vw;
  margin: 0 0.1vw;
  padding: 0;
  background-color: #fff;
}
.rec.rec-arrow:hover {
  border-radius: 50%;
}
.bSWeAW:hover {
  background-color: red;
}
.bSWeAW {
  font-size: 2vw;
  background-color: red;
}
.ach__studyMat--productsCarousel {
  position: relative;
}

/* Home Page */
.hero__vid {
  position: relative;
  top: -0.9vw;
  width: 100%;
  height: 36vw;
  background-size: cover;
}
.hero__card1,
.hero__card2,
.hero__card3 {
  width: 29.3vw;
  height: 22.2vw;
  position: absolute;
  background-color: #010e26;
  top: 48.5vw;
  left: 3.8vw;
  border-radius: 10%;
}
.hero__card2 {
  top: 59.5vw;
  left: 50%;
  transform: translate(-48.4%, -50%);
}
.hero__card3 {
  left: 66.8vw;
}
.hero__card1--heading {
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  font-size: 1.34vw;
  color: #fff;
  text-align: center;
  position: relative;
  top: 2.6vw;
}
.hero__card1--underline {
  width: 80%;
  position: relative;
  top: 3.9vw;
  left: 50%;
  transform: translateX(-50%);
}
.hero__card--btn,
.ach__allIndiacard--btn {
  background-color: #ff4e53;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: #fff;
  width: 7.48vw;
  height: 2.67vw;
  border-radius: 1.62vw;
  position: relative;
  top: 6vw;
  left: 1.4vw;
  display: inline-block;
  margin: 0.71vw 0.65vw;
  padding: 0.6vw 0.5vw;
}
.hero__card3-font {
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
}
.hero__card3-font1,
.hero__card3-font2 {
  font-size: 0.9vw;
  text-align: center;
  vertical-align: middle;
}
.hero__card3-font2 {
  font-size: 0.8vw;
  padding: 0.3vw 0.5vw;
}
.ach__studyMat--heading,
.ach__studyMat--underline {
  position: relative;
  top: 22.3vw;
  left: 5.8vw;
  font-family: "Roboto", sans-serif;
  font-size: 3.18vw;
  font-weight: 700;
  color: #f30007;
}
.ach__studyMat--underline {
  width: 46vw;
  border: none;
  border-bottom: 3px solid #f30007;
  margin-top: 0.4vw;
}
.ach__studyMat--exploreBtn,
.ach__popularEntranceCourses--viewAllBtn {
  background-color: #68c938;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  font-weight: 600;
  color: #fff;
  width: 14vw;
  height: 3.9vw;
  border-radius: 2.82vw;
  position: relative;
  top: 17.8vw;
  left: 79.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ach__studyMat--innovativeStudyMat {
  position: relative;
  left: 5.8vw;
  top: 19.5vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2.7vw;
}
.ach__studyMat--studyMat {
  color: #b60000;
}
.ach__stdyMat--carefully {
  position: relative;
  left: 5.8vw;
  top: 20vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.61vw;
  /* margin-bottom: 15vw; */
}
.ach__studyMat--starredTexts {
  position: absolute;
  width: 50vw;
  left: 43vw;
  margin-top: 19.5vw;
}
.ach__studyMat--products {
  position: relative;
  top: 23vw;
  left: 49%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  font-size: 4em;
  width: 91.8%;
}
.ach__studyMat--starredTexts--mobile {
  display: none;
}
.ach__allIndiaPart {
  position: relative;
  margin-top: 26vw;
  display: flex;
  justify-content: center;
}
.ach__allIndiaVid {
  margin-left: 1vw;
  /* margin-top: 5vw; */
  position: relative;
  top: 50%;
  transform: translateY(20%);
  height: 22.57vw;
  width: 39%;
}
.ach__allIndiaEntranceTest {
  margin-left: 2.3vw;
  position: relative;
  height: 31.57vw;
  width: 49%;
  background-color: #010e26;
}
.ach__allIndiaEntranceTest--heading,
.ach__allIndiaEntranceTest--description {
  position: relative;
  color: #fff;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.5vw;
  text-align: center;
  top: 2.7vw;
  left: 50%;
  transform: translateX(-50%);
}
.ach__allIndiaEntranceTest--underline {
  width: 87%;
  border: none;
  border-bottom: 2.5px solid #fff;
  margin: 0 auto;
  position: relative;
  top: 4.5vw;
}
.ach__allIndiaEntranceTest--description {
  width: 89.5%;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1vw;
  top: 6vw;
}
.ach__allIndiacard--btn {
  background-color: #68c938;
  top: 6.5vw;
  left: 2.7vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.15vw;
  width: 9.4vw;
  height: 3vw;
  margin: 0.71vw 2.5vw;
  text-align: center;
  padding-top: 0.32vw;
  padding-right: 2.27vw;
  padding-bottom: 0;
}
.ach__allIndiaArrow {
  position: absolute;
  width: 1.43vw;
  margin-left: 0.52vw;
  top: 0.78vw;
  left: 6.31vw;
}
.ach__allIndiacard--btnNeet,
.ach__allIndiacard--btnKVPY,
.ach__allIndiacard--btnViewAll {
  padding-top: 0.78vw;
}
.ach__allIndiacard--btnBHU,
.ach__allIndiacard--btnCSIR {
  font-size: 1.06vw;
}
.ach__allIndiaIITJEEMainAdv,
.ach__allIndiaIITJAMCrash,
.ach__allIndiaCuDu,
.ach__allIndiaTIRFEntr {
  font-size: 0.75vw;
  text-align: center;
  position: relative;
  display: block;
  top: -2px;
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all,
.delete-all--popularEntranceCourses,
.courses__delete-all {
  position: relative;
  text-align: right;
  margin-right: 5.35vw;
  top: 20vw;
  left: 73.5vw;
  width: 20vw;
}
.delete-all--popularEntranceCourses {
  top: 0;
}
.delete-all input,
.delete-all--popularEntranceCourses input,
.courses__delete-all input {
  height: 25px;
  width: 25px;
  transform: translateY(5px);
  margin: 0 15px;
}
.delete-all span,
.delete-all--popularEntranceCourses span,
.courses__delete-all span {
  text-transform: uppercase;
  color: #03a5ce;
  letter-spacing: 1.3px;
}
.delete-all button,
.delete-all--popularEntranceCourses button,
.courses__delete-all button {
  border: 1px solid crimson;
  height: 3.25vw;
  padding: 0.52vw 1.62vw;
  color: crimson;
  font-size: 1vw;
  text-transform: uppercase;
}

/* -------------------- Load More --------------- */
.load_more {
  text-align: center;
  font-size: 1vw;
}
.load_more button {
  font-size: 1vw;
  width: 10vw;
  height: 3vw;
  margin-bottom: 1.3vw;
  border: 0.065vw solid #555;
  text-transform: capitalize;
}
/* Popular Entrance */
.ach__popularEntranceCourses--heading,
.ach__popularEntranceCourses--underline {
  margin-top: 5vw;
  margin-left: 5.8vw;
  font-family: "Roboto", sans-serif;
  font-size: 3.18vw;
  font-weight: 700;
  color: #f30007;
}
.ach__popularEntranceCourses--heading {
  width: 66vw;
}
.ach__popularEntranceCourses--underline {
  width: 64.5vw;
  border: none;
  border-bottom: 3px solid #f30007;
  margin-top: 0.4vw;
}
.ach__popularEntranceCourses--viewAllBtn {
  background-color: #fc2b32;
  top: -4vw;
}
.ach__popularEntranceCourses--description {
  position: relative;
  top: -1.5vw;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  letter-spacing: 0.6px;
  line-height: 1.75vw;
  padding: 0 8vw;
}
.popularEntranceProducts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  font-size: 4em;
  width: 92%;
  margin: 0.5vw auto 0;
}
.ach__popularEntranceCourses--vid {
  position: relative;
  display: block;
  width: 88vw;
  margin: 2vw auto 3.5vw;
}
/* Hall of Fame */
.ach__hallOfFame--heading,
.ach__hallOfFame--underline {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 3.18vw;
  font-weight: 700;
}
.ach__hallOfFame--underline {
  display: block;
  margin: auto;
  width: 40.5vw;
  border: none;
  border-bottom: 3px solid #000;
  margin-top: 0.4vw;
  margin-bottom: 3.4vw;
}
.ach__hallOfFame--vidCards {
  width: 93vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.ach__hallOfFame--vidCard {
  height: 17vw;
  width: 19.8vw;
}
.ach__hallOfFame--vidCardHeading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.88vw;
  width: 19.8vw;
  margin-bottom: 1.7vw;
  text-align: center;
}
.ach__hallOfFame--vidCardLink {
  width: 19.8vw;
  height: 11vw;
}
/* Why Ach */
.ach__whyAch {
  position: relative;
  width: 52vw;
}
.ach__whyAch--heading,
.ach__whyAch--underline {
  left: 5.8vw;
  width: 26.5vw;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 2.78vw;
  font-weight: 600;
  color: #1d85ff;
  top: 2.2vw;
}
.ach__whyAch--underline {
  border: none;
  border-bottom: 3px solid #1d85ff;
  margin-top: 0.37vw;
}
.ach__whyAch--starredTexts {
  position: relative;
  top: 4.5vw;
  left: 5.8vw;
  width: 44.4vw;
}
.ach__whyAch--starredTexts--mobile {
  display: none;
}
.ach__generalEnquiry {
  position: relative;
  width: 48vw;
  background-color: #010e26;
}
.ach__generalEnquiry--heading,
.ach__generalEnquiry--underline {
  position: relative;
  width: 28.5vw;
  font-family: "Montserrat", sans-serif;
  font-size: 2.78vw;
  font-weight: 600;
  color: #fc2b32;
  left: 3.8vw;
  top: 2.2vw;
}
.ach__generalEnquiry--underline {
  border: none;
  border-bottom: 3px solid #fc2b32;
  margin-top: 0.37vw;
}
.ach_whyAch-generalEnq {
  margin-top: 1.2vw;
  display: flex;
  justify-content: center;
  height: 27.01vw;
}
.ach__generalEnquiry--form {
  height: 20vw;
}
.ach__generalEnquiry--firstName,
.ach__generalEnquiry--lastName,
.ach__generalEnquiry--email,
.ach__generalEnquiry--phone {
  margin: 1.2vw 1.5vw;
  top: 3vw;
  left: 2vw;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.05vw;
  padding: 0.8vw 1vw;
  width: 18vw;
}
.ach__generalEnquiry--submit,
.ach__generalEnquiry--faq {
  top: 5vw;
  left: 3.5vw;
  position: relative;
  width: 11.2vw;
  height: 3.3vw;
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
  letter-spacing: 0.7px;
  color: #fff;
  background-color: #fc2b32;
}
.ach__generalEnquiry--faq {
  top: -3vw;
  padding: 0.8vw 3vw;
  margin-left: 15vw;
  background-color: #1d85ff;
}
.ach__topperFavPic {
  width: 100vw;
  position: relative;
}

/* Our Courses Page */
.courses__goBackLink {
  height: 4vw;
  background-color: rgb(248, 248, 248);
  margin: 0;
}
.courses__goBackLink--a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  position: relative;
  top: 1.4vw;
  left: 2.8vw;
  color: #000;
}
.courses__goBackLink--a--ourCourses {
  color: red;
}
.courses__topBanner {
  position: relative;
  width: 100vw;
}
.courses__joinCommunity {
  position: relative;
  margin-top: -0.13vw;
  height: 5.5vw;
  background-color: #e9e9e9;
}
.courses__joinCommunity--tickIcon {
  width: 3.6vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6vw;
}
.courses__joinCommunity--trustedBy,
.courses__joinCommunity--sixThousandStudents,
.courses__joinCommunity--joinCommunity {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  color: rgb(99, 99, 99);
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
  left: 10.5vw;
}
.courses__joinCommunity--sixThousandStudents {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  top: 65%;
  color: #000;
}
.courses__joinCommunity--verticalLine {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33.5vw;
  height: 4vw;
  border: none;
  border-right: 2px solid grey;
}
.courses__joinCommunity--joinCommunity {
  top: 50%;
  left: 39%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1vw;
}
.courses__joinCommunity--contact,
.courses__joinCommunity--downloadApp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 52.3vw;
  background-color: #77b800;
  padding: 1vw 5.5vw;
  border-radius: 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3vw;
}
.courses__joinCommunity--downloadApp {
  left: 73.5%;
  background-color: #289b46;
}
.courses__everythingYouNeed {
  margin-top: 3.5vw;
}
.courses__everythingYouNeed--heading,
.courses__achProducts--heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.1vw;
  text-align: center;
  color: rgb(219, 0, 0);
}
.courses__everythingYouNeed--description,
.courses__achProducts--description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
  text-align: center;
  margin: 1.1vw 0;
}
.courses__everythingYouNeed--RowPics {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.courses__everythingYouNeed--RowPics--smallBanners {
  width: 26.5vw;
}
.courses__achProducts {
  margin-top: 3vw;
}
.courses__achProducts--heading {
  color: #1d85ff;
}
.courses__achProducts--description {
  width: 60vw;
  display: block;
  margin: 1vw auto;
  font-size: 1.25vw;
  line-height: 2.3vw;
}
.courses__filters {
  width: 100vw;
  margin-top: 2vw;
}
.courses__filters--categoryRow {
  margin-left: 5vw;
  width: 13vw;
}
.courses__filters--categoryRow--dropdown,
.courses__filters--sortRow--dropdown {
  width: 8vw;
  padding: 1vw 0.5vw;
  margin-left: 0.7vw;
}
.courses__filters--searchBar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vw 33vw 1vw 1.5vw;
}
.courses__filters--sortRow {
  width: 13vw;
  padding: 1vw 0.5vw;
  margin-left: 0.7vw;
  left: 80.5vw;
  padding: 0vw;
  position: absolute;
}
.courses__products {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2vw;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  justify-items: center;
}
.courses__delete-all {
  top: 1.7vw;
}
.courses__experienceTheBest {
  height: 30vw;
  width: 85vw;
  margin: 1vw auto;
  border-top: 2px solid rgb(99, 99, 99);
  border-bottom: 2px solid rgb(99, 99, 99);
}
.courses__experienceTheBest--Row {
  height: 13vw;
  width: 85vw;
  display: flex;
  justify-content: space-between;
}
.courses__experienceTheBest--heading {
  position: relative;
  top: 3.5vw;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  font-size: 2.1vw;
  margin: 1.1vw 0;
  color: rgb(99, 99, 99);
}
.courses__experienceTheBest--heading--A,
.careers__joinAch--heading--A {
  color: #1d85ff;
  font-size: 2.4vw;
}
.courses__experienceTheBest--heading--CHIEVERS,
.careers__joinAch--heading--CHIEVERS {
  color: #f92b32;
  font-size: 2.4vw;
}
.courses__experienceTheBest--Row1Card,
.courses__experienceTheBest--Row2Card {
  top: 6vw;
  width: 28vw;
  height: 7vw;
  position: relative;
}
.courses__experienceTheBest--Row2Card {
  top: 2vw;
}
.courses__experienceTheBest--Pic {
  width: 5vw;
}
.courses__experienceTheBest--Heading,
.courses__experienceTheBest--description,
.careers__joinAch--heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  width: 25vw;
  position: absolute;
  top: 0.5vw;
  left: 20%;
}
.courses__experienceTheBest--description {
  font-size: 0.95vw;
  width: 20.5vw;
  top: 2.8vw;
}
.courses__hearFromStudents--headingPart {
  width: 100vw;
  display: block;
  margin: 1vw auto 2vw;
  height: 7vw;
  position: relative;
}
.courses__hearFromStudents--headingPic {
  position: absolute;
  width: 7vw;
  top: 0;
  left: 24.5vw;
}
.courses__hearFromStudents--headingPicGirl {
  left: 68.5vw;
}
.courses__hearFromStudents--heading {
  width: 38vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.1vw;
  position: relative;
  top: 2.5vw;
  display: block;
  margin: 0 auto;
  color: rgb(99, 99, 99);
}
.courses__hearFromStudents--studentCards {
  margin: 0 auto 5vw;
  width: 85vw;
  display: flex;
  justify-content: space-between;
}
.courses__studentCards {
  position: relative;
  width: 30vw;
}
.courses__studentPics {
  width: 8vw;
}
.courses__studentNames {
  position: absolute;
  top: 1vw;
  margin-left: 1vw;
  width: 15vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.8vw;
  color: rgb(99, 99, 99);
}
.courses__studentAch {
  position: absolute;
  top: 6vw;
  margin-left: 1vw;
  width: 17.3vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.05vw;
  color: #fc2b32;
}
.courses__studentReview {
  margin-top: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.05vw;
  width: 25vw;
}

/* Careers Page */
.careers__joinAch {
  position: relative;
  width: 100vw;
}
.careers__joinAch--topBanner {
  position: relative;
  width: 100vw;
}
.careers__joinAch--whiteBox {
  position: absolute;
  background-color: #fff;
  width: 49vw;
  height: 14vw;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.careers__joinAch--heading {
  left: 11.7%;
  transform: translateX(-50%);
  position: relative;
  font-size: 2.7vw;
  width: 30vw;
  top: 1.9vw;
}
.careers__joinAch--links {
  left: 50%;
  transform: translateX(-50%);
  width: 32vw;
  top: 4.5vw;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.careers__joinAch--viewPositionsBtn,
.careers__joinAch--aboutUsBtn {
  background-color: #b20000;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  position: relative;
  padding: 1vw 2.5vw;
  border-radius: 25px;
}
.careers__joinAch--aboutUsBtn {
  padding: 1vw 3.7vw;
}
.careers__joinAch--aboutUsBtn {
  background-color: #0b1d3e;
}
.careers__statsUnderTopBanner {
  position: relative;
  width: 84vw;
  height: 6vw;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid rgb(99, 99, 99);
  margin-bottom: 1vw;
  display: flex;
  justify-content: space-between;
}
.careers__statsUnderTopBanner--stat {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  width: 23.5vw;
}
.careers__statsUnderTopBanner--statImg {
  width: 3.6vw;
  position: relative;
  top: 1.1vw;
}
.careers__statsUnderTopBanner--statNumber,
.careers__statsUnderTopBanner--statDescription {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.7vw;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1vw;
}
.careers__statsUnderTopBanner--statDescription {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1vw;
  margin-left: 6vw;
}
.careers__welcomeToAch {
  position: relative;
}
.careers__welcomeToAch--headingWelcomeTo {
  position: relative;
  font-family: "Segoe UI", sans-serif;
  font-weight: 700;
  font-size: 3.6vw;
  left: 7.5vw;
  margin-top: 1.5vw;
  width: 21vw;
}
.careers__welcomeToAch--heading--A {
  position: relative;
  left: 7.5vw;
  color: #1d85ff;
  font-size: 3.7vw;
}
.careers__welcomeToAch--heading--CHIEVERS {
  position: relative;
  left: 7.5vw;
  color: #f92b32;
  font-size: 3.7vw;
}
.careers__welcomeToAch--description1,
.careers__welcomeToAch--description2 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2vw;
  left: 7.5vw;
  width: 53vw;
  margin-top: 1.5vw;
  text-align: justify;
  line-height: 1.95vw;
}
.careers__welcomeToAch--description2 {
  margin-top: 2vw;
}
.careers__welcomeToAch--president {
  position: absolute;
  top: 3.5vw;
  width: 25vw;
  left: 66vw;
}
.careers__welcomeToAch--presidentName,
.careers__welcomeToAch--presidentDesignation {
  position: relative;
  width: 25vw;
  top: -3.4vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.15vw;
  left: 66vw;
  color: #fc2b32;
}
.careers__welcomeToAch--presidentDesignation {
  font-size: 1.05vw;
  top: -3vw;
  color: #000;
}
.careers__welcomeToAch--vicePresidents {
  position: relative;
  width: 79vw;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}
.careers__welcomeToAch--vicePresidentCard {
  position: relative;
  width: 19vw;
  margin-top: 3vw;
}
.careers__welcomeToAch--vicePresidentCardImg {
  position: relative;
  height: 17vw;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.4vw;
}
.careers__welcomeToAch--vicePresidentCardName,
.careers__welcomeToAch--vicePresidentCardDesignation {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.25vw;
  text-align: center;
  margin: 0.5vw 0;
  color: #fc2b32;
}
.careers__welcomeToAch--vicePresidentCardDesignation {
  width: 17vw;
  font-weight: 600;
  font-size: 0.93vw;
  line-height: 1.43vw;
  color: #000;
}
.careers__welcomeToAch--textPara {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.06vw;
  width: 85vw;
  text-align: justify;
  margin: 2.5vw 0;
  line-height: 1.62vw;
}
.careers__welcomeToAch--textParawithImg {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 84vw;
  margin-top: 4vw;
}
.careers__welcomeToAch--textParawithImg--Img1,
.careers__welcomeToAch--textParawithImg--Img2 {
  position: relative;
  width: 17vw;
}
.careers__welcomeToAch--textParawithImg--text {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.17vw;
  width: 43vw;
  text-align: center;
  line-height: 1.62vw;
}
.careers__ourTeam--Heading {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.3vw;
  left: 7vw;
  width: 36vw;
  margin: 5vw 0 1vw;
}
.careers__ourTeam--academicCoordinators {
  position: relative;
  width: 24vw;
  margin-top: 2vw;
}
.careers__ourTeam--academicCoordinatorsHeading {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
  text-align: center;
}
.careers__ourTeam--TeamCards {
  position: relative;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 88vw;
  margin-bottom: 3vw;
}
.careers__ourTeam--academicCoordinatorsCard {
  position: relative;
  margin-top: 1.5vw;
}
.careers__ourTeam--academicCoordinatorsCardImg {
  position: relative;
  width: 6.1vw;
  height: 6.1vw;
  object-fit: cover;
  left: 2.1vw;
}
.careers__ourTeam--academicCoordinatorsCardName,
.careers__ourTeam--academicCoordinatorsCardDesignation,
.careers__ourTeam--academicCoordinatorsCardDesignation--Rashbehari,
.careers__ourTeam--academicCoordinatorsCardDesignation--Simantini {
  position: absolute;
  margin-left: 3vw;
  top: 0.98vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  color: #004aad;
}
.careers__ourTeam--academicCoordinatorsCardDesignation,
.careers__ourTeam--academicCoordinatorsCardDesignation--Rashbehari,
.careers__ourTeam--academicCoordinatorsCardDesignation--Simantini {
  top: 2.7vw;
  font-size: 0.93vw;
  color: #000;
  width: 12vw;
  line-height: 1.3vw;
}
.careers__ourTeam--academicCoordinatorsCardDesignation--Rashbehari {
  top: 4vw;
}
.careers__ourTeam--academicCoordinatorsCardDesignation--Simantini {
  width: 15vw;
}
.careers__jobs--heading {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.24vw;
  left: 50%;
  transform: translateX(-50%);
  width: 49vw;
  margin: 2.5vw 0 3vw;
}
.careers__jobCards {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 84vw;
  margin-bottom: 3vw;
}
.careers__jobCards--leftSide {
  width: 25vw;
}
.careers__jobCards--jobTitle,
.careers__jobCards--jobHighlightsHeading,
.careers__jobCards--jobRequirements {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.37vw;
  width: 23.5vw;
  color: #004aad;
}
.careers__jobCards--jobHighlightsHeading {
  font-size: 1.1vw;
  margin-top: 1vw;
}
.careers__jobCards--jobRequirements {
  font-size: 0.9vw;
  font-weight: 600;
  margin-top: 0.8vw;
}
.careers__jobCards--applyBtn {
  position: relative;
  display: block;
  width: 11vw;
  color: #000;
  padding: 0.75vw 2vw;
  background-color: #ffdb0e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  border-radius: 25px;
  top: 2vw;
  margin-bottom: 3vw;
}
.careers__jobCards--mobile,
.careers__jobCards--applyBtn--mobile {
  display: none;
}
.careers__jobCards--RightSide {
  width: 45vw;
  position: absolute;
  top: 0.5vw;
  left: 44vw;
}
.careers__jobCards--jobDescription,
.careers__jobCards--rolesAndResponsibilitiesHeading,
.careers__jobCards-bulletPoints {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1vw;
  width: 23.5vw;
}
.careers__jobCards--rolesAndResponsibilitiesHeading {
  font-size: 0.97vw;
  margin: 1.5vw 0 0.65vw;
}
.careers__jobCards-bulletPoints {
  position: relative;
  font-size: 0.93vw;
  margin: 0.4vw 0;
  width: 40vw;
}

/* <--------------------------------Responsive------------------------------------> */
/* <=============================================================> */
/* <=============================================================> */
@media (max-width: 768px) {
  /* React Elastic Carousel Slider css */
  .rec.rec-arrow {
    border-radius: 0;
    font-size: 6vw;
    margin: 0 0.1vw;
    padding: 0;
    height: 10vw;
    width: 5vw;
    background-color: #fff;
    display: none;
  }
  .rec.rec-arrow:hover {
    border-radius: 50%;
  }
  .bSWeAW:hover {
    background-color: red;
  }
  .bSWeAW {
    font-size: 2vw;
    background-color: red;
  }
  .ach__cat--noProducts {
    position: relative;
    font-size: 5vw;
    padding: 3vw 0;
    width: 50vw;
    text-align: center;
    vertical-align: middle;
  }
  .ach__studyMat--productsCarousel {
    position: relative;
  }
  /* Hero Pic */
  .hero__vid {
    width: 100vw;
    /* top: 0; */
  }
  /* Hero Cards */
  .hero__card1,
  .hero__card2,
  .hero__card3 {
    width: 90.3vw;
    height: 65.2vw;
    top: 91.5vw;
    left: 4.8vw;
    border-radius: 22px;
  }
  .hero__card2 {
    top: 163.5vw;
    left: 4.8vw;
    transform: translate(0, 0);
  }
  .hero__card3 {
    left: 4.8vw;
    top: 235vw;
  }
  .hero__card1--heading {
    font-size: 4.1vw;
    top: 8vw;
  }
  .hero__card1--underline {
    top: 11.7vw;
    margin-bottom: 3.5vw;
  }
  .hero__card--btn,
  .ach__allIndiacard--btn {
    background-color: #ff4e53;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    font-weight: 600;
    color: #fff;
    width: 22.48vw;
    height: 7.8vw;
    border-radius: 4.62vw;
    position: relative;
    top: 13.5vw;
    left: 3.5vw;
    display: inline-block;
    margin: 2.1vw 2.65vw;
    padding: 1.6vw 0.5vw;
  }
  .hero__card3-font {
    font-size: 3.2vw;
    text-align: center;
    vertical-align: middle;
  }
  .hero__card3-font1,
  .hero__card3-font2 {
    font-size: 2.9vw;
    text-align: center;
    vertical-align: middle;
  }
  .hero__card3-font2 {
    font-size: 2.6vw;
    padding: 0.5vw 0.5vw;
  }
  /* ----------------------------------------------------------- */
  /* Study Mat */
  .ach__studyMat--heading,
  .ach__studyMat--underline {
    position: relative;
    top: 230.5vw;
    left: 5.8vw;
    font-size: 6.08vw;
  }
  .ach__studyMat--underline {
    width: 88vw;
    border: none;
    border-bottom: 2.4px solid #f30007;
    margin-top: 0.4vw;
  }
  .ach__studyMat--exploreBtn,
  .ach__popularEntranceCourses--viewAllBtn {
    background-color: #68c938;
    font-family: "Montserrat", sans-serif;
    font-size: 3.5vw;
    font-weight: 600;
    color: #fff;
    width: 32vw;
    height: 8.9vw;
    border-radius: 4.82vw;
    position: relative;
    top: 235.8vw;
    left: 61.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ach__studyMat--innovativeStudyMat {
    position: relative;
    left: 5.8vw;
    top: 226vw;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 4.15vw;
  }
  .ach__studyMat--studyMat {
    color: #b60000;
  }
  .ach__stdyMat--carefully {
    position: relative;
    left: 5.8vw;
    top: 228.6vw;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.51vw;
  }
  .ach__studyMat--starredTexts {
    display: none;
  }
  .ach__studyMat--starredTexts--mobile {
    display: inline-block;
    position: absolute;
    width: 66vw;
    left: 5vw;
    margin-top: 242vw;
  }
  .ach__studyMat--products {
    position: relative;
    top: 274.5vw;
    left: 49%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5vw 0 0.8vw;
    font-size: 4em;
    width: 91.8%;
  }
  /* All India */
  .ach__allIndiaPart {
    position: relative;
    margin-top: 272vw;
    display: block;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .ach__allIndiaVid {
    position: relative;
    left: -0.5vw;
    width: 89vw;
    height: 50vw;
    margin-bottom: 15vw;
  }
  .ach__allIndiaEntranceTest {
    margin-left: 0;
    height: 75.7vw;
    width: 100%;
  }
  .ach__allIndiaEntranceTest--heading,
  .ach__allIndiaEntranceTest--description {
    font-size: 4.5vw;
    top: 5.5vw;
  }
  .ach__allIndiaEntranceTest--underline {
    top: 7.3vw;
  }
  .ach__allIndiaEntranceTest--description {
    width: 88.5%;
    font-size: 2vw;
    top: 10.5vw;
    line-height: 3vw;
  }
  .ach__allIndiacard--btn {
    background-color: #68c938;
    top: 14.5vw;
    left: 2.7vw;
    font-size: 3vw;
    width: 22.48vw;
    height: 8.2vw;
    margin: 2.1vw 2.65vw;
    padding: 0.7vw 0.5vw;
  }
  .ach__allIndiaArrow {
    display: none;
  }
  .ach__allIndiacard--btnNeet,
  .ach__allIndiacard--btnKVPY,
  .ach__allIndiacard--btnViewAll {
    padding-top: 1.7vw;
    font-size: 3.5vw;
  }
  .ach__allIndiacard--btnBHU,
  .ach__allIndiacard--btnCSIR {
    font-size: 2.66vw;
    padding: 0.9vw 0.5vw;
  }
  .ach__allIndiacard--btnBHU {
    padding: 2.4vw 0.5vw;
  }
  .ach__allIndiaIITJEEMainAdv,
  .ach__allIndiaIITJAMCrash,
  .ach__allIndiaCuDu,
  .ach__allIndiaTIRFEntr {
    font-size: 2.5vw;
  }
  /* Popular Entrance */
  .ach__popularEntranceCourses--heading,
  .ach__popularEntranceCourses--underline {
    position: relative;
    margin-top: 8vw;
    margin-left: 0vw;
    font-family: "Roboto", sans-serif;
    font-size: 6.28vw;
    font-weight: 700;
    color: #f30007;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .ach__popularEntranceCourses--heading {
    width: 66vw;
  }
  .ach__popularEntranceCourses--underline {
    width: 69.5vw;
    margin-top: 1.4vw;
  }
  .ach__popularEntranceCourses--viewAllBtn {
    background-color: #fc2b32;
    top: 33vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .ach__popularEntranceCourses--description {
    font-size: 3.9vw;
    line-height: 4.3vw;
    padding: 0 5.5vw;
    position: relative;
    top: -4vw;
    margin-bottom: 14vw;
  }
  .popularEntranceProducts {
    margin: 0 auto;
  }
  .ach__popularEntranceCourses--vid {
    width: 100vw;
    margin: 7vw 0 7.5vw;
  }
  /* Hall of Fame */
  .ach__hallOfFame--heading,
  .ach__hallOfFame--underline {
    font-size: 6.9vw;
  }
  .ach__hallOfFame--underline {
    width: 88vw;
  }
  .ach__hallOfFame--vidCards {
    margin: 6.5vw auto 0;
  }
  .ach__hallOfFame--vidCard {
    height: 47vw;
    width: 60vw;
  }
  .ach__hallOfFame--vidCardHeading {
    font-size: 3.88vw;
    width: 60.8vw;
  }
  .ach__hallOfFame--vidCardLink {
    height: 30vw;
    width: 60vw;
  }
  /* Why Ach */
  .ach__whyAch {
    position: relative;
    width: 100vw;
  }
  .ach__whyAch--heading,
  .ach__whyAch--underline {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 77vw;
    font-size: 7.98vw;
    top: 6.2vw;
  }
  .ach__whyAch--starredTexts {
    display: none;
  }
  .ach__whyAch--starredTexts--mobile {
    display: block;
    position: relative;
    top: 11.5vw;
    left: 8.8vw;
    width: 72.4vw;
  }
  .ach__generalEnquiry {
    display: block;
    left: 0;
    width: 100vw;
    height: 123vw;
    margin-top: 17vw;
  }
  .ach__generalEnquiry--heading,
  .ach__generalEnquiry--underline {
    width: 80vw;
    font-size: 7.78vw;
    left: 7vw;
    top: 7.2vw;
  }
  .ach_whyAch-generalEnq {
    margin-top: 1.2vw;
    display: block;
    height: 249.1vw;
  }
  .ach__generalEnquiry--form {
    height: 105vw;
  }
  .ach__generalEnquiry--firstName,
  .ach__generalEnquiry--lastName,
  .ach__generalEnquiry--email,
  .ach__generalEnquiry--phone {
    margin: 3.2vw 1.5vw;
    top: 11vw;
    left: 5.7vw;
    font-size: 4.6vw;
    padding: 0.8vw 0 0.8vw 4vw;
    width: 85.5vw;
    height: 12.5vw;
  }
  .ach__generalEnquiry--submit,
  .ach__generalEnquiry--faq {
    top: 16vw;
    left: 9.5vw;
    position: relative;
    width: 38.2vw;
    height: 11.7vw;
    border-radius: 25px;
    font-size: 5vw;
    background-color: #fc2b32;
  }
  .ach__generalEnquiry--faq {
    top: -11vw;
    padding: 2.6vw 9vw;
    margin-left: 47vw;
    background-color: #1d85ff;
  }
  .ach__topperFavPic {
    top: 0;
  }

  /* <---------------Delete------------------> */
  /* ----------- Product Item ----------------- */
  @import url("../utils/productItem/productItem.css");

  .delete-all,
  .delete-all--popularEntranceCourses,
  .courses__delete-all {
    position: relative;
    text-align: right;
    margin-top: 3.85vw;
    margin-bottom: 3vw;
    top: 271vw;
    left: 50%;
    transform: translateX(-55%);
    width: 70vw;
  }
  .delete-all--popularEntranceCourses {
    top: 0;
  }
  .delete-all input,
  .delete-all--popularEntranceCourses input,
  .courses__delete-all input {
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
  }
  .delete-all span,
  .delete-all--popularEntranceCourses span,
  .courses__delete-all span {
    text-transform: uppercase;
    color: #03a5ce;
    letter-spacing: 1.3px;
  }
  .delete-all button,
  .delete-all--popularEntranceCourses button,
  .courses__delete-all button {
    border: 1px solid crimson;
    height: 11.25vw;
    padding: 2.52vw 3.2vw;
    color: crimson;
    font-size: 4.5vw;
    text-transform: uppercase;
  }

  /* Our Courses Page */
  .courses__goBackLink {
    display: none;
  }
  .courses__topBanner {
    width: 164vw;
    overflow-x: hidden;
  }
  .courses__joinCommunity {
    height: 86.5vw;
  }
  .courses__joinCommunity--tickIcon {
    width: 8.5vw;
    position: absolute;
    top: 4vw;
    transform: translateY(0) translateX(-50%);
    left: 50%;
  }
  .courses__joinCommunity--trustedBy,
  .courses__joinCommunity--sixThousandStudents,
  .courses__joinCommunity--joinCommunity {
    top: 14vw;
    transform: translateX(-50%);
    left: 50%;
    font-size: 7vw;
  }
  .courses__joinCommunity--sixThousandStudents {
    font-size: 5.5vw;
    top: 24vw;
  }
  .courses__joinCommunity--verticalLine {
    top: 35vw;
    transform: translateX(-50%) translateY(0);
    left: 50%;
    height: 0;
    width: 80vw;
    border: none;
    border-bottom: 2px solid grey;
  }
  .courses__joinCommunity--joinCommunity {
    top: 40vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.1vw;
  }
  .courses__joinCommunity--contact,
  .courses__joinCommunity--downloadApp {
    top: 50vw;
    transform: translate(-50%, 0);
    left: 50%;
    padding: 2.7vw 15.5vw;
    width: 60vw;
    height: 12.3vw;
    font-size: 5vw;
  }
  .courses__joinCommunity--downloadApp {
    width: 79vw;
    top: 67vw;
  }
  .courses__everythingYouNeed {
    margin-top: 6.5vw;
  }
  .courses__everythingYouNeed--heading,
  .courses__achProducts--heading {
    font-size: 5.6vw;
  }
  .courses__everythingYouNeed--description,
  .courses__achProducts--description {
    font-weight: 600;
    font-size: 3.5vw;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 3.1vw 0;
  }
  .courses__everythingYouNeed--RowPics {
    margin: 0 auto;
    width: 85vw;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  .courses__everythingYouNeed--RowPics--smallBanners {
    width: 85vw;
  }
  .courses__achProducts {
    margin-top: 3vw;
  }
  .courses__achProducts--heading {
    color: #1d85ff;
  }
  .courses__achProducts--description {
    display: block;
    line-height: 6.3vw;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 3.1vw 0;
  }
  .courses__filters {
    width: 100vw;
    margin-top: 3vw;
    height: 30vw;
  }
  .courses__filters--categoryRow {
    margin-left: 5vw;
    position: relative;
    top: 17vw;
    width: 20vw;
    left: 0.2vw;
    font-size: 5.5vw;
  }
  .courses__filters--categoryRow span,
  .courses__filters--sortRow span {
    display: none;
  }
  .courses__filters--categoryRow--dropdown,
  .courses__filters--sortRow--dropdown {
    width: 19vw;
    height: 10vw;
    padding: 1vw 0.5vw;
    margin-left: 0.7vw;
    font-size: 3.5vw;
  }
  .courses__filters--searchBar {
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 12vw;
    font-size: 4.2vw;
    padding: 1vw 33vw 1vw 3.5vw;
  }
  .courses__filters--sortRow {
    width: 20vw;
    padding: 1vw 0.5vw;
    margin-left: 0.7vw;
    left: 74.3vw;
    margin-top: 17vw;
    padding: 0vw;
    position: absolute;
  }
  .courses__products {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vw;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    justify-items: center;
  }
  .courses__delete-all {
    top: 1.7vw;
  }
  /* -------------------- Load More --------------- */
  .load_more button {
    font-size: 4.6vw;
    width: 33vw;
    height: 11vw;
    margin: 5.3vw 0;
  }
  .courses__experienceTheBest {
    height: 295vw;
    width: 85vw;
    margin: 1vw auto;
    border-top: 2px solid rgb(99, 99, 99);
    border-bottom: 2px solid rgb(99, 99, 99);
  }
  .courses__experienceTheBest--Row {
    height: 138vw;
    width: 85vw;
    display: block;
  }
  .courses__experienceTheBest--heading {
    top: 5.5vw;
    font-size: 6.5vw;
  }
  .courses__experienceTheBest--heading--A,
  .careers__joinAch--heading--A {
    color: #1d85ff;
    font-size: 6.8vw;
  }
  .courses__experienceTheBest--heading--CHIEVERS,
  .careers__joinAch--heading--CHIEVERS {
    color: #f92b32;
    font-size: 6.8vw;
  }
  .courses__experienceTheBest--Row1Card,
  .courses__experienceTheBest--Row2Card {
    top: 6vw;
    width: 85vw;
    height: 40vw;
    position: relative;
    margin-top: 3.5vw;
  }
  .courses__experienceTheBest--Row2Card {
    top: 2vw;
  }
  .courses__experienceTheBest--Pic {
    width: 25vw;
    position: relative;
    top: 5vw;
  }
  .courses__experienceTheBest--Heading,
  .courses__experienceTheBest--description,
  .careers__joinAch--heading {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4.9vw;
    width: 57vw;
    position: absolute;
    top: 0.5vw;
    left: 27vw;
  }
  .courses__experienceTheBest--description {
    font-size: 3.95vw;
    width: 57vw;
    top: 7.8vw;
  }
  .courses__experienceTheBest--description--mobile {
    top: 13.3vw;
  }
  .courses__hearFromStudents--headingPart {
    width: 100vw;
    display: block;
    margin: 6vw auto 2vw;
    height: 17vw;
    position: relative;
  }
  .courses__hearFromStudents--headingPic {
    width: 15vw;
    top: 0.5vw;
    left: 7.5vw;
  }
  .courses__hearFromStudents--headingPicGirl {
    left: 76.5vw;
    top: 1vw;
  }
  .courses__hearFromStudents--heading {
    width: 50vw;
    text-align: center;
    font-size: 4.6vw;
    top: 2.5vw;
    color: rgb(53, 53, 53);
  }
  .courses__hearFromStudents--studentCards {
    margin: 0 auto 5vw;
    width: 85vw;
    display: block;
  }
  .courses__studentCards {
    position: relative;
    width: 95vw;
    margin-bottom: 6vw;
  }
  .courses__studentPics {
    width: 25vw;
  }
  .courses__studentNames {
    position: absolute;
    top: 2vw;
    margin-left: 3vw;
    width: 46vw;
    font-size: 6.1vw;
    color: rgb(75, 75, 75);
  }
  .courses__studentAch {
    position: absolute;
    top: 18vw;
    margin-left: 3vw;
    width: 56vw;
    font-size: 3.5vw;
    color: #fc2b32;
  }
  .courses__studentReview {
    margin-top: 1vw;
    font-weight: 600;
    font-size: 3.7vw;
    width: 85vw;
    position: relative;
  }

  /* Careers Page */
  .careers__joinAch {
    position: relative;
    width: 100vw;
  }
  .careers__joinAch--topBanner {
    position: relative;
    width: 250vw;
  }
  .careers__joinAch--whiteBox {
    position: absolute;
    background-color: #fff;
    width: 81vw;
    height: 50vw;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  .careers__joinAch--heading {
    left: 4.8%;
    transform: translateX(-50%);
    position: relative;
    font-size: 5.3vw;
    width: 30vw;
    top: 4.9vw;
  }
  .careers__joinAch--links {
    left: 50%;
    transform: translateX(-50%);
    width: 67vw;
    top: 4.5vw;
    position: relative;
    display: block;
  }
  .careers__joinAch--viewPositionsBtn,
  .careers__joinAch--aboutUsBtn {
    font-size: 4.7vw;
    position: relative;
    display: block;
    width: 67vw;
    height: 12vw;
    padding: 3vw 0 0 8.2vw;
    margin: 4.5vw 0;
  }
  .careers__joinAch--aboutUsBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 45vw;
    padding: 3vw 11.2vw;
    background-color: #0b1d3e;
  }
  .careers__statsUnderTopBanner {
    position: relative;
    width: 84vw;
    height: 69vw;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .careers__statsUnderTopBanner--stat {
    top: 12vw;
    width: 93.5vw;
    height: 18vw;
    margin-bottom: 3vw;
  }
  .careers__statsUnderTopBanner--statImg {
    width: 15.6vw;
    top: 1.1vw;
  }
  .careers__statsUnderTopBanner--statNumber,
  .careers__statsUnderTopBanner--statDescription {
    font-size: 7.2vw;
    margin-left: 4vw;
  }
  .careers__statsUnderTopBanner--statDescription {
    font-size: 4.1vw;
    margin-left: 17vw;
  }
  .careers__welcomeToAch--headingWelcomeTo {
    position: relative;
    font-size: 8.6vw;
    left: 7.5vw;
    margin-top: 1.5vw;
    width: 81vw;
  }
  .careers__welcomeToAch--heading--A {
    position: relative;
    left: 7.5vw;
    color: #1d85ff;
    font-size: 10vw;
  }
  .careers__welcomeToAch--heading--CHIEVERS {
    font-size: 10vw;
  }
  .careers__welcomeToAch--description1,
  .careers__welcomeToAch--description2 {
    position: relative;
    font-size: 4.3vw;
    left: 7.5vw;
    width: 85vw;
    margin-top: 1.5vw;
    text-align: justify;
    line-height: 5.4vw;
  }
  .careers__welcomeToAch--description2 {
    margin-top: 96vw;
  }
  .careers__welcomeToAch--president {
    position: absolute;
    top: 77.5vw;
    width: 75vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .careers__welcomeToAch--presidentName,
  .careers__welcomeToAch--presidentDesignation {
    position: absolute;
    width: 85vw;
    top: 150.4vw;
    font-size: 4.5vw;
    left: 50%;
    transform: translateX(-44%);
    color: #fc2b32;
  }
  .careers__welcomeToAch--presidentDesignation {
    font-size: 4.15vw;
    margin-top: 7vw;
    transform: translateX(-37%);
    color: #000;
  }
  .careers__welcomeToAch--vicePresidents {
    position: relative;
    width: 79vw;
    display: block;
    left: 50%;
    transform: translateX(-50%);
  }
  .careers__welcomeToAch--vicePresidentCard {
    position: relative;
    width: 79vw;
    margin-top: 6vw;
  }
  .careers__welcomeToAch--vicePresidentCardImg {
    position: relative;
    height: 48vw;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.4vw;
  }
  .careers__welcomeToAch--vicePresidentCardName,
  .careers__welcomeToAch--vicePresidentCardDesignation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4.7vw;
    text-align: center;
    margin: 0.5vw 0;
    color: #fc2b32;
  }
  .careers__welcomeToAch--vicePresidentCardDesignation {
    width: 75vw;
    font-weight: 600;
    font-size: 4.15vw;
    line-height: 5.43vw;
    color: #000;
  }
  .careers__welcomeToAch--textPara {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4.3vw;
    width: 85vw;
    text-align: justify;
    margin: 2.5vw 0;
    line-height: 5.4vw;
  }
  .careers__welcomeToAch--textParawithImg {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 84vw;
    margin-top: 4vw;
  }
  .careers__welcomeToAch--textParawithImg--Img1,
  .careers__welcomeToAch--textParawithImg--Img2 {
    position: relative;
    width: 67vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .careers__welcomeToAch--textParawithImg--Img2 {
    margin-top: 5vw;
  }
  .careers__welcomeToAch--textParawithImg--text {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4.3vw;
    width: 84vw;
    text-align: center;
    line-height: 5.4vw;
  }
  .careers__ourTeam--Heading {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 6.3vw;
    left: 0;
    text-align: center;
    width: 100vw;
    margin: 5vw 0 1vw;
  }
  .careers__ourTeam--academicCoordinators {
    position: relative;
    width: 88vw;
    margin: 2vw 0 4vw;
  }
  .careers__ourTeam--academicCoordinatorsHeading {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4.8vw;
    text-align: center;
    margin: 3vw 0 5vw;
  }
  .careers__ourTeam--TeamCards {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 88vw;
    margin-bottom: 3vw;
  }
  .careers__ourTeam--academicCoordinatorsCard {
    position: relative;
    margin-top: 2.5vw;
  }
  .careers__ourTeam--academicCoordinatorsCardImg {
    position: relative;
    width: 25.1vw;
    height: 25.1vw;
    object-fit: cover;
    left: 2.1vw;
  }
  .careers__ourTeam--academicCoordinatorsCardName,
  .careers__ourTeam--academicCoordinatorsCardDesignation,
  .careers__ourTeam--academicCoordinatorsCardDesignation--Rashbehari,
  .careers__ourTeam--academicCoordinatorsCardDesignation--Simantini {
    position: absolute;
    margin-left: 6vw;
    top: 0.98vw;
    font-size: 4.6vw;
    color: #004aad;
  }
  .careers__ourTeam--academicCoordinatorsCardDesignation,
  .careers__ourTeam--academicCoordinatorsCardDesignation--Rashbehari,
  .careers__ourTeam--academicCoordinatorsCardDesignation--Simantini {
    top: 7.5vw;
    font-size: 4.2vw;
    color: #000;
    width: 56vw;
    height: 15vw;
    line-height: 4.3vw;
  }
  .careers__ourTeam--academicCoordinatorsCardDesignation--Rashbehari {
    top: 13vw;
    height: 12vw;
  }
  .careers__jobs--heading {
    font-size: 6.12vw;
    width: 75vw;
    text-align: center;
  }
  .careers__jobCards {
    width: 84vw;
    margin-bottom: 5vw;
  }
  .careers__jobCards--leftSide {
    /* height: 92vw; */
    width: 84vw;
  }
  .careers__jobCards--jobTitle,
  .careers__jobCards--jobHighlightsHeading,
  .careers__jobCards--jobRequirements {
    position: relative;
    display: block;
    margin: 3vw 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4.85vw;
    width: 84vw;
    color: #004aad;
  }
  .careers__jobCards--jobHighlightsHeading {
    font-size: 4.1vw;
    margin-top: 1vw;
  }
  .careers__jobCards--jobRequirements {
    font-size: 4vw;
    font-weight: 600;
    margin-top: 1.4vw;
  }
  .careers__jobCards--mobile {
    display: block;
    margin-top: 2vw;
  }
  .careers__jobCards--applyBtn {
    display: none;
  }
  .careers__jobCards--applyBtn--mobile {
    position: relative;
    display: block;
    width: 39vw;
    color: #000;
    padding: 2.75vw 7vw;
    background-color: #ffdb0e;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4.1vw;
    border-radius: 25px;
    top: 2vw;
    margin: 1vw 0 3vw;
  }
  .careers__jobCards--RightSide {
    display: none;
  }
  .careers__jobCards--jobDescription,
  .careers__jobCards--rolesAndResponsibilitiesHeading,
  .careers__jobCards-bulletPoints {
    position: relative;
    font-size: 4.2vw;
    width: 84vw;
  }
  .careers__jobCards--rolesAndResponsibilitiesHeading {
    font-size: 4vw;
    margin: 1.5vw 0 0.65vw;
  }
  .careers__jobCards-bulletPoints {
    position: relative;
    font-size: 3.93vw;
    margin: 0.4vw 0;
    width: 84vw;
  }
}

@media (max-width: 360px) {
  .ach__popularEntranceCourses--viewAllBtn {
    top: 30.5vw;
  }
  .ach__allIndiaEntranceTest {
    height: 73.57vw;
  }
}
